/* Write your CSS here */
.language-box {
  list-style-type: none;
  box-shadow: 0px 2px 0px #bfbf;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  height: 50px;
  width: 50px;
}

.images {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}

.image-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
